*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;  

}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 2rem;
}
.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;
    
}

#sam{
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}